<div class="container">
  <mat-toolbar>
    <span>Crear usuario</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="agregar()">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="usuario">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <img src="./assets/img/usuario.png" width="250" height="250">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option *ngFor="let sex of sexo" [value]="sex">{{sex}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button routerLink="/dashboard/usuarios" style="margin-right: 15px;">Volver</button>
            <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary">Aceptar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>